
<div class="d-flex">
  <app-shared></app-shared>
  <div class="bg-dark barder-right p-3" id="sidebar">
    <h3 class="text-light list-reset">
        Gifs-App
    </h3>
    <hr class="text-white">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-atcion">
        Dashboard
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscando Gifs uwu">
      </div>
    </div>
    <hr class="text-black">
    <div class="row">
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, quas voluptatibus facilis excepturi saepe consequatur. Hic, natus, iure mollitia nulla ad a suscipit aut cumque ullam nesciunt id illo? Suscipit?
      </div>
    </div>
    Soyhomelochino
  </div>
</div>